@(invites: List[Invite])

<table class="table">
    <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>State</th>
        <th></th>
    </tr>

@invites.map { invite =>
    <tr>
        <td>
            @invite.getSender().getFullName()
        </td>
        <td>
            @invite.getReceiver().getFullName()
        </td>
        <td>
            @invite.getState()
        </td>
        <td>
            <a href="@routes.InviteController.view(invite.getId())" class="btn btn-primary">view invite</a>
        </td>
    </tr>
}

</table>
