@(invite : Invite)

@main("View - Practical", "view") {

<div class="main-text jumbotron">
    <h1>Invite #@invite.getId()</h1>
</div>
<h2>Practical</h2>
@invite.getPractical().getName()

<h2>Sender</h2>
@invite.getSender().getFullName()

<h2>Receiver</h2>
@invite.getReceiver().getFullName()
<div class="row">
    <div class="col-xs-3">
        @if(invite.getReceiver().getId().equals(Secure.getUser().getId())) {
            @if(invite.getState().equals(Invite.State.Pending)) {
                <a href="@routes.InviteController.acceptInvite(invite.getId())" class="btn btn-primary">accept invite</a>
            }
        } else {
            @if(invite.getState().equals(Invite.State.Pending)) {
                <a href="@routes.InviteController.withdrawInvite(invite.getId())" class="btn btn-primary">withdraw invite</a>
            }
        }
        @if(invite.getState().equals(Invite.State.Accepted)) {
            <a href="@routes.InviteController.rejectInvite(invite.getId())" class="btn btn-primary">reject invite</a>
        }
        @if(invite.getState().equals(Invite.State.Withdrawn)) {
            <a href="@routes.InviteController.resendInvite(invite.getId())" class="btn btn-primary">send invite</a>
        }
        @if(invite.getState().equals(Invite.State.Rejected)) {
            <a href="@routes.InviteController.resendRejectedInvite(invite.getId())" class="btn btn-primary">resend invite</a>
        }
    </div>
</div>
}
