@(invite : Invite)
@import helpers._

@main("View - Practical", "view") {

<div class="main-text jumbotron">
    <h1>Invite #@invite.getId()</h1>
</div>
<h2>Practical</h2>
@invite.getPractical().getName()

<h2>Sender</h2>
@invite.getSender().getFirstName() @invite.getSender().getLastName()

<h2>Receiver</h2>
@invite.getReceiver().getFirstName() @invite.getReceiver().getLastName()

@if(invite.getReceiver().getId().equals(Secure.getUser().getId())  && invite.getState().equals(Invite.State.Pending)) {
    <div class = "row">
        <div class = "col-xs-3">
            <a href="@routes.InviteController.acceptInvite(invite.getId())" class = "btn btn-primary">accept invite</a>
            </div>
        </div>
    }
@if(invite.getReceiver().getId().equals(Secure.getUser().getId())  && invite.getState().equals(Invite.State.Accepted)) {
<div class = "row">
    <div class = "col-xs-3">
        <a href="@routes.InviteController.rejectInvite(invite.getId(), Secure.getUser().getId() )" class = "btn btn-primary">reject invite</a>
    </div>
</div>
}
@if(invite.getSender().getId().equals(Secure.getUser().getId())  && invite.getState().equals(Invite.State.Accepted)) {
<div class = "row">
    <div class = "col-xs-3">
        <a href="@routes.InviteController.rejectInvite(invite.getId(), Secure.getUser().getId())" class = "btn btn-primary">reject invite</a>
    </div>
</div>
}
@if(invite.getSender().getId().equals(Secure.getUser().getId())  && invite.getState().equals(Invite.State.Withdrawn)) {
<div class = "row">
    <div class = "col-xs-3">
        <a href="@routes.InviteController.resendInvite(invite.getId())" class = "btn btn-primary">resend invite</a>
    </div>
</div>
}

@if(invite.getSender().getId().equals(Secure.getUser().getId())  && invite.getState().equals(Invite.State.Pending)) {
    <div class = "row">
        <div class = "col-xs-3">
            <a href="@routes.InviteController.withdrawInvite(invite.getId())" class = "btn btn-primary">withdraw invite</a>
        </div>
    </div>
    }

}
