@(invite: Invite, messages: List[Message], messageForm: play.data.Form[forms.MessageForm])
@sessionUser = @{Secure.getUser()}
@practicalGroupOfUser = @{PracticalGroup.findWithPracticalAndUser(invite.getPractical(), sessionUser)}
@implicitField = @{ helper.FieldConstructor(form.noLabelConstructor.f) }

@main("View - Practical", "view") {

    <div class="main-text jumbotron">
        <h2>Invite for <a href="@routes.PracticalController.view(invite.getPractical.getId())">@invite.getPractical.getName()</a>
            @if(practicalGroupOfUser.getOwner().equals(sessionUser)) {
                @if(invite.getReceiver().getId().equals(sessionUser.getId())) {
                    @if(invite.getState().equals(Invite.State.Pending)) {
                        <a href="@routes.InviteController.acceptInvite(invite.getId())" class="btn btn-lg btn-primary pull-right">accept invite</a>
                        <a href="@routes.InviteController.rejectInvite(invite.getId())" class="btn btn-lg btn-primary pull-right">reject invite</a>
                    }
                } else {
                    @if(invite.getState().equals(Invite.State.Pending)) {
                        <a href="@routes.InviteController.withdrawInvite(invite.getId())" class="btn btn-lg btn-primary pull-right">withdraw invite</a>
                    }
                }
                @if(invite.getState().equals(Invite.State.Withdrawn) || invite.getState().equals(Invite.State.Rejected)) {
                    <a href="@routes.InviteController.resendInvite(invite.getId())" class="btn btn-lg btn-primary pull-right">resend invite</a>
                }
            }
        </h2>
        <p>
            From: @invite.getSender().getFullName() <br />
            To: @invite.getReceiver().getFullName() <br />
            State: @invite.getState
        </p>
    </div>

    <h2>Messages</h2>
    <div class="list-group">
        @if(messages.isEmpty) {
            <p>No messages yet.</p>
        }
        @messages.map { message =>
            <div class="list-group-item">
                <h5 class="list-group-item-heading">@message.getUser.getFullName (@message.getTime):</h5>
                <p class="list-group-item-text">
                    @message.getMessage
                </p>
            </div>
        }
    </div>

    @helper.form(routes.InviteController.sendMessage(invite.getId())) {
        <div class="row">
            <div class="col-md-10">
                @if(messageForm.hasGlobalErrors) {
                    <p class="error red-text">
                    @messageForm.globalError.message
                    </p>
                }
                <p>
                    @form.textarea(messageForm("message"))
                </p>
            </div>
            <div class="col-md-2">
                @form.submit("Send")
            </div>
        </div>
    }
}
