# Play
logs
dist
project/project
project/target
target
tmp
conf/evolutions

# Eclipse
.classpath
.project
.settings/
.target/
lib

# Intellij
.idea/*
!.idea/codeStyleSettings.xml
.idea_modules/
*.iml
*.ipr
*.iws
.history

# Mac
.DS_Store
public/images/Thumbs.db
