@(practical: Practical, practicalForm: play.data.Form[forms.PracticalForm])

@implicitField = @{ helper.FieldConstructor(form.leftLabelConstructor.f) }

@main("Practicals", "practicals") {
    <div class="page-header">
        <h2>
            @practical.getName()
            <a class="btn btn-danger pull-right" href="@routes.PracticalController.delete(practical.getId())">Delete</a>
        </h2>
    </div>

    <div>
        <h2>Registration url</h2>
        <p>With the secret registration URL the participants are able to register to your practical.
            Please make sure you only share this URL with the participants of your practical.<br/>
            <a href="@routes.PracticalController.register(practical.getId(), practical.getSecret())">
                @routes.PracticalController.register(practical.getId(), practical.getSecret()).absoluteURL()
            </a>
        </p>

        <h2>Edit</h2>
        <p>Here you are able to change the practical settings and preference.
            These changes will take effect immediately.
        </p>
        @helper.form(routes.PracticalController.edit(practical.getId()), 'class -> "form-horizontal") {
            @if(practicalForm.hasGlobalErrors) {
                <p class="error red-text">
                @practicalForm.globalError.message
                </p>
            }

            @form.section {
                <h3>Default settings</h3>
            } {
                @form.inputText(practicalForm("name"))
                @form.textarea(practicalForm("description"))
            }

            @form.section {
                <h3>Group skills</h3>
            } {
                @helper.repeat(practicalForm("skills")) { skillField =>
                    @form.hidden(skillField("name"), 'type -> "hidden")
                    @form.slider(skillField("value"), '_label -> skillField("name").value.head)
                }
            }

            @form.submit("Save")
        }

        <h2>Currently enrolled participants:</h2>
        <ul>
        @practical.getUsers().map { user =>
            <li>@user.getFullName()</li>
        }
        </ul>
    </div>
}
