@(practicals: List[Practical], practicalForm: play.data.Form[forms.PracticalForm])

@implicitField = @{ helper.FieldConstructor(form.leftLabelConstructor.f) }

@main("Practicals", "practicals") {

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-briefcase"></span> Practicals</h1>
        <p>
            This is an overview of the course practicals you are enrolled for.
        </p>
    </div>

    @if(practicalForm != null) {
        @helper.form(routes.PracticalController.create, 'class -> "form-horizontal") {
            <div class="modal fade" id="createForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Create a new practical</h4>
                        </div>
                        <div class="modal-body">
                            @form.inputText(practicalForm("name"))
                            @form.textarea(practicalForm("description"))
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes"/>
                        </div>
                    </div>
                </div>
            </div>
        }

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createForm">
            Create a new practical
        </button>
    }

    @practicals.map { practical =>
        <div class="list-group">
            <a href="@routes.PracticalController.view(practical.getId())" class="list-group-item">
                <h4 class="list-group-item-heading">@practical.getName() - @practical.getAdmin.getFullName</h4>
                <p class="list-group-item-text">
                    @practical.getDescription()
                </p>
            </a>
        </div>
    }

}
