@(practical : Practical)

@main("Practical", "practicals") {

<div class="main-text jumbotron">
    <h2>@practical.getName()</h2>
    <p>
        @practical.getDescription()
    </p>
</div>
<h2>Currently enrolled participants:</h2>
<ul>
    @practical.getUsers().map { user =>
        <li>@user.getFirstName()</li>
    }
</ul>
<h2>Group practicals:</h2>
@practical.getPracticalGroups().map { practicalGroup =>
    <div class = "row">

        <div class = "col-xs-4">
            <a href="@routes.PracticalController.viewPracticalGroup(practicalGroup.getId())">Practical group #@practicalGroup.getId()</a>
        </div>
        <div class = "col-xs-8">
            <button type="button" class="btn btn-ttc">Invite</button>
        </div>
    </div>
    }
}
