@(user: User, practical: Practical)

@main("Practical", "practicals") {

    <div class="main-text jumbotron">
        <h2>@practical.getName() <a href="@controllers.routes.PracticalController.invites(practical.getId)" class="btn btn-lg btn-primary pull-right">View invites</a></h2>
        <p>
            @practical.getDescription()
        </p>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Recommended Skills:</h2>
            <table class="table">
                @SkillValuePractical.findByPractical(practical).map { skill =>
                    <tr>
                        <td>@skill.getSkill().getName():</td>
                        <td>@skill.getValue()</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-5">
            <div class="well">
                <h3 class="modal-header"><a href="@routes.PracticalGroupController.view(PracticalGroup.findWithPracticalAndUser(practical, user).getId())">Your group:</a></h3>
                <ul>
                    @PracticalGroup.findWithPracticalAndUser(practical, user).getGroupMembers.map { member =>
                        <li>@member.getFullName</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Recommended Practical Groups:</h2>
            <table class="table table-hover">
            @Recommendation.recommend(user, practical, 1).map { pGroup =>
                @practicalGroup.show(pGroup, user)
            }
            </table>
        </div>

        <div class="col-md-6">
            <h2>Practical Groups:</h2>
            <table class="table table-hover">
            @PracticalGroup.findByPractical(practical).map { pGroup =>
                @if(!pGroup.getGroupMembers().contains(user)) {
                    @practicalGroup.show(pGroup, user)
                }
            }
            </table>
        </div>
    </div>
}
