@(practical: Practical)
@sessionUser = @{Secure.getUser()}
@practicalGroupOfUser = @{PracticalGroup.findWithPracticalAndUser(practical, sessionUser)}

@main("Practical", "practicals") {

<div class="main-text jumbotron">
    <h2>@practical.getName()</h2>
    <p>
        @practical.getDescription()
    </p>
</div>

@if(practicalGroupOfUser != null) {
    @practicalGroup.info(practicalGroupOfUser)
}

<h2> Your sent invites</h2>
<div class="row">
    <div class="col-xs-3">
        Sender:
    </div>
    <div class="col-xs-3">
        Receiver:
    </div>
    <div class="col-xs-3">
        State:
    </div>
    <div class="col-xs-3">

    </div>
</div>
@practical.getInvites().map { invite =>
    @if(invite.getSender().getId().equals(sessionUser.getId()) && invite.getState().equals(Invite.State.Pending)) {
        <div class="row">
            <div class="col-xs-3">
                <p>@invite.getSender().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getReceiver().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getState()</p>
            </div>
            <div class="col-xs-3">
                <a href="@routes.InviteController.view(invite.getId())" class="btn btn-primary">view invite</a>
            </div>
        </div>
    }
}

<h2> Your received invites</h2>
<div class="row">
    <div class="col-xs-3">
        Sender:
    </div>
    <div class="col-xs-3">
        Receiver:
    </div>
    <div class="col-xs-3">
        State:
    </div>
    <div class="col-xs-3">

    </div>
</div>
@practical.getInvites().map { invite =>
    @if(invite.getReceiver().getId().equals(sessionUser.getId()) && invite.getState().equals(Invite.State.Pending)) {
        <div class="row">
            <div class="col-xs-3">
                <p>@invite.getSender().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getReceiver().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getState()</p>
            </div>
            <div class="col-xs-3">
                <a href="@routes.InviteController.view(invite.getId())" class="btn btn-primary">view invite</a>
            </div>
        </div>
    }
}

<h2>Recommended Practical Groups:</h2>
@Recommendation.getRandomRecommendations(practical, sessionUser).map { practicalGroup =>
@if(!practicalGroup.getGroupMembers.contains(sessionUser)) {
<div class="row">
    <div class="col-xs-4">
        <a href="@routes.PracticalController.viewPracticalGroup(practicalGroup.getId())">Practical group #@practicalGroup.getId()</a>
    </div>
    <div class="col-xs-8">
        @if(practicalGroupOfUser.getOwner().equals(sessionUser)) {
        <a href="@routes.PracticalController.sendInvitePracticalGroup(practicalGroup.getId())" class="btn btn-primary">Invite</a>
        }
    </div>
</div>
}
}

<h2>Practical Groups:</h2>
@practical.getPracticalGroups().map { practicalGroup =>
    @if(!practicalGroup.getGroupMembers().contains(sessionUser)) {
    <div class="row">
        <div class="col-xs-4">
            <a href="@routes.PracticalGroupController.view(practicalGroup.getId())">Practical group #@practicalGroup.getId()</a>
        </div>
        <div class="col-xs-8">
        @if(practicalGroupOfUser.getOwner().equals(sessionUser)) {
            <a href="@routes.PracticalGroupController.sendInvite(practicalGroup.getId())" class="btn btn-primary">Invite</a>
            }
        </div>
    </div>
    }
}

<h2>Accepted and Rejected invites</h2>
@sessionUser.getInvitesReceived().map { invite =>
    @if(!invite.getState().equals(Invite.State.Pending)) {
        <div class="row">
            <div class="col-xs-3">
                <p>@invite.getSender().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getReceiver().getFullName()</p>
            </div>
            <div class="col-xs-3">
                <p>@invite.getState()</p>
            </div>
            <div class="col-xs-3">
                <a href="@routes.InviteController.view(invite.getId())" class="btn btn-primary">view invite</a>
            </div>
        </div>
    }
}
}
