@(practicalGroup : PracticalGroup, user : User)

<tr class="clickableRow" href="@routes.PracticalGroupController.view(practicalGroup.getId())">
    <td>
        <b>@practicalGroup.getOwner.getFullName</b>
        @if(practicalGroup.getGroupMembersNoOwner.size > 0) {
            , @practicalGroup.getGroupMembersNoOwner.get(0).getFullName
        }
        @if(practicalGroup.getGroupMembersNoOwner.size > 1) {
            , @practicalGroup.getGroupMembersNoOwner.get(1).getFullName
        }
        @if(practicalGroup.getGroupMembersNoOwner.size() > 2) {
            , ...
        }
    </td>
    <td>
    @if(PracticalGroup.findWithPracticalAndUser(practicalGroup.getPractical, user).getOwner().equals(user)) {
        <a href="@routes.PracticalGroupController.sendInvite(practicalGroup.getId())" class="btn btn-primary">Invite</a>
    }
    </td>
</tr>
