@(practicalGroup: PracticalGroup)

@main("View - Practical", "view") {
    @if(practicalGroup.getGroupMembers().contains(Secure.getUser())) {
        <h1>This is your practical group #@practicalGroup.getId()</h1>
        <h2>Group participants:</h2>
    } else {
        <h1>Practical group #@practicalGroup.getId()</h1>
        <h2>Group participants:</h2>
    }
    @practicalGroup.getGroupMembers().map { user =>
        <div class="row">
            <div class="col-xs-4">
                <p>@user.getFullName()</p>
            </div>
            <div class="col-xs-8">
            </div>
        </div>
    }
}
