.navbar {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.black-background {
	background: black;
}

.red-text {
	color: red !important;
}

.vert-align-middle {
    vertical-align: middle !important;
}

h1, h2, h3, h4, h5, h6 {
	background: none !important;
}

.inverse-dropdown{
  background-color: #222 !important;
  border-color: #080808 !important;
}

.inverse-dropdown>li>a{
  color: #999 !important;
}

.inverse-dropdown>li>a:hover{
  color: #fff !important;
  background-color: #222 !important;
}

.inverse-dropdown>li:active{
  color: #fff !important;
  background-color: #000 !important;
}


.inverse-dropdown>li>a>.divider {
  background-color: #000 !important;
}

.page-header {
  background-color: #eee;
  padding: 15px;
}

.container .page-header {
    border-radius: 6px; // Only round corners at higher resolutions if contained in a container
}