@(elements: helper.FieldElements)

<div class="@if(elements.hasErrors) {error}">
    <div class="form-group">
        <label for="@elements.id" class="col-sm-4 control-label">@elements.label</label>
        <div class="tooltip-div col-sm-8" data-toggle="tooltip" data-placement="top" title="@elements.infos.mkString(", ")">@elements.input</div>
        <div class="col-sm-4"></div>
        <span class="red-text help-block col-sm-8">@elements.errors.mkString(", ")</span>
        @*<span class="help-block">@elements.infos.mkString(", ")</span>*@
    </div>
</div>
