@(message: String)

@main("About", "about") {

    <div class="main-text jumbotron">
        <h2>About</h2>
        <p>
            @message
        </p>

    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="row">
                <div class="col-md-12">
                    <h2>Background information</h2>
                    This website is a proof of concept developed by a group of students at the TU Delft.
                    They developed this for the TI3800 - Bachelor Project course.
                </div>
            </div>
        </div>
    </div>
}
