@()
@user = @{ Secure.getUser() }

@main("Courses - APMatch", "courses") {

    <div class="page-header">
        <h2>Courses</h2>
        <p>
            This is an overview of the courses you are enrolled for.
        </p>
    </div>
    @user.getPracticalGroups().map { practicalGroup =>
        <fieldset>
            <legend><a href="@routes.PracticalController.viewPractical(practicalGroup.getPractical().getId())">@practicalGroup.getPractical().getName()</a></legend>
            <label>Description</label><br />
            @practicalGroup.getPractical().getDescription()<br />
            <label>Your group members</label><br />
            <ul>
                @practicalGroup.getUsers().map { groupMember =>
                   <li>@groupMember.getFirstName @groupMember.getLastName</li>
                }
            </ul>
        </fieldset>
    }

}
