@(message: String)

@main("Welcome to APMatch", "index") {

<div class="section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-12">
                <div class="main-text jumbotron">
                    <h2>@message</h2>
                    <p>
                        APMatch is a platform to find group members for practical assignments.<br />
                        Log in to start your group member search!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
}
