@(loginForm: Form[forms.LoginForm])

@implicitField = @{ helper.FieldConstructor(form.leftLabelConstructor.f) }

@main("Login - APMatch", "login") {
    @helper.form(routes.Authentication.authenticate, 'class -> "form-horizontal") {
<div class="section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-12">
                <h1>Sign in</h1>

                @form.inputText(loginForm("email"))
                @form.inputPassword(loginForm("password"))

                @form.button(loginForm("Log in"), '_label -> null)
            </div>
        </div>
    </div>
</div>
    }
}
