@(form: Form[forms.LoginForm])

@main("Login", "login") {
    @helper.form(routes.Authentication.authenticate) {
<div class="section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-12">
                <h1>Sign in</h1>

                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.globalError.message
                    </p>
                }

                @helper.inputText(form("email"))
                @helper.inputPassword(form("password"))

                <p>
                    <button type="submit">Login</button>
                </p>
            </div>
        </div>
    </div>
</div>
    }
}
