@(linkedInUri: String, loginForm: play.data.Form[forms.LoginForm], registerForm: play.data.Form[forms.RegisterForm])

@implicitField = @{ helper.FieldConstructor(form.leftLabelConstructor.f) }

@main("Login", "login") {
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="jumbotron">
                    <h2>Log in</h2>

                    @helper.form(routes.Authentication.authenticate, 'class -> "form-horizontal") {
                        @if(loginForm.hasGlobalErrors) {
                            <p class="error red-text">
                            @loginForm.globalError.message
                            </p>
                        }

                        @form.inputText(loginForm("email"))
                        @form.inputPassword(loginForm("password"))

                        @form.submit("Log in")
                        <p class="text-center">-or-</p>
                        <p>
                            <a href="@linkedInUri" class="btn btn-default btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-user"></span> Sign in with LinkedIn</a>
                        </p>
                    }
                </div>
            </div>

            <div class="col-lg-6">
                <div class="jumbotron">
                    <h2>Registration</h2>
                    @helper.form(routes.Authentication.registration, 'class -> "form-horizontal") {

                        @if(registerForm.hasGlobalErrors) {
                            <p class="error red-text">
                            @registerForm.globalError.message
                            </p>
                        }

                        @form.inputText(registerForm("firstName"))
                        @form.inputText(registerForm("lastName"))
                        @form.inputText(registerForm("email"))
                        @form.inputPassword(registerForm("password"))
                        @form.inputPassword(registerForm("passwordRepeat"))

                        @form.submit("Register")
                    }
                </div>
            </div>
        </div>
    </div>
}
