@(registerForm: Form[forms.RegisterForm])

@implicitField = @{ helper.FieldConstructor(form.leftLabelConstructor.f) }

@main("Register - APMatch", "register") {
    @helper.form(routes.Authentication.registration, 'class -> "form-horizontal") {
        <div class="container">
            <h1>Registration</h1>

            @if(registerForm.hasGlobalErrors) {
                <p class="error red-text">
                @registerForm.globalError.message
                </p>
            }

            @form.inputText(registerForm("firstName"))
            @form.inputText(registerForm("lastName"))
            @form.inputText(registerForm("language"))
            @form.inputText(registerForm("email"))
            @form.inputPassword(registerForm("password"))
            @form.inputPassword(registerForm("passwordRepeat"))

            @form.button(registerForm("Register"), '_label -> null)
        </div>
    }
}
