@(user: User, skills: Map[Skill, SkillValueUser], other: Boolean)

@main("Profile", "profile") {
    <div>
        <div class="page-header">
            <h1>
                <span class="glyphicon glyphicon-user"></span> Profile
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Basic information
                        @if(!other) {
                            <a href="@controllers.routes.ProfileController.edit()" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
                        }
                    </legend>
                    <img src="@Html(user.getProfileImageUrl())" alt="Profile image"/>
                    <p>
                        <table class="table table-striped">
                            <tr>
                                <td>Name:</td>
                                <td>@user.getFullName()</td>
                            </tr>
                            <tr>
                                <td>Type:</td>
                                <td>@user.getType()</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>@user.getEmail()</td>
                            </tr>
                            <tr>
                                <td colspan="2">@user.getProfileText()</td>
                            </tr>
                        </table>
                    </p>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Skills
                        @if(!other) {
                            <a href="@controllers.routes.ProfileController.editSkills()" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
                        }
                    </legend>
                        <p>
                            <table class="table table-striped">
                                @skills.map { case (skill, value) =>
                                    <tr>
                                        <td>@{skill.getName}:</td>
                                        @if(value == null) {
                                            <td>Not yet provided.</td>
                                        } else {
                                            <td>@value.getValue()</td>
                                        }
                                    </tr>
                                }

                            </table>
                        </p>
                </fieldset>
            </div>
        </div>
    </div>
}
